.top-bar {
   margin-bottom:20em;
}

.right-align {
   text-align:right;
}

.th {
   width:100%;
}

ul, ol, li {
  list-style-position:inside
}

/* for blog */
ol li p {
  display:inline
}

pre {
  margin-top: 1em; 
  margin-bottom: 1em; 
  padding: 0.5em;
  font-size: 16px;
  background-color:lightgrey;
}


