body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0.5vh 5vw;
  min-height: 99vh;
  align-items: center;

  font-family: "Josefin Sans", sans-serif;
}

.content {
  font-family: "Helvetica", sans-serif;
  max-width: 100%;
}

.nav, footer {
  min-width: 80%;
  text-align: center;
  font-family: "Josefin Sans", sans-serif;
  font-weight: bold;
}

article {
  max-width: 600px;
  text-align: justify;
  line-height: 1.75em;
}

#nav_list, #footer_list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0px;
  width: 100%;
}

#nav_list > li {
  list-style-type: none;
  margin: 0.25em 0;
}

#footer_list > li {
  list-style-type: none;
  margin: 0.25em 0;
}

#nav_list > li > a {
  color: black;
  text-decoration: none;
}

#nav_list > li > a:hover {
  color: grey;
}

#nav_list > li.active > a  {
  text-decoration: underline;
}

@media (min-width: 768px) {
  .content {
    max-width: 600px;
    flex:1;

  }
  .nav, footer {
    min-width: auto;
    width: 600px;
    flex: 1;
  }

  #nav_list, #footer_list {
    flex-direction: row;
  }
}

hr{
  max-width: 600px;
  margin: 2em auto;
  border: none;
  border-top: 1px solid;
  text-align: center;
}
hr:after {
  content: '§';
  display: inline-block;
  position: relative;
  top: -12px;
  /*background: #f0f0f0;*/
  background: #ffffff;
  color: #8c8b8b;
  font-size: 18px;
  -webkit-transform: rotate(70deg);
  -moz-transform: rotate(70deg);
  transform: rotate(70deg);
  font-family: Serif;
  font-weight: normal;
}

main hr {
  width: 50%;
  margin: 2em auto;
  border-top: 1px solid lightgrey;
}

dt {
  font-weight: bold;
}

dd {
  margin-top: 0.5em;
}

footer > a {
  margin: auto 1em;
}

img {
  box-shadow: 0.2em 0.2em 0.5em grey;
}

a {
  text-decoration: none;
}
