---
layout: default 
title: Hi! I'm Shing Lyu 
css: css/index.css
---


<div class="row" id="short-bio">
   <div class="large-12 columns center">
      <img id="head" src="img/head.png" alt="photo of myself"/>
         <h2>Hi, I'm 呂  行  (Shing Lyu)</h2>
         <p> I am a <strong>QA engineer</strong> and <strong>freelance programmer</strong> from Taipei, Taiwan. I build websites, web apps, and all kind of programmes from artificial intelligence musician and stock price monitors.</p>
   </div>
</div>

<div class="row" id="title-links">
   <div class="large-12 columns center">
      
      {% assign sorted_pages = site.pages | sort:"name" %}
      {% for node in sorted_pages%}
          {% if node.url != page.url %}
          <h1 class="inline"><a href="{{node.url}}"><span style="white-space:nowrap;">{{node.title}}</span></a> | </h1>  
          {% endif %}
      {% endfor %}

      <h1 class="inline"><a href="mailto:shing.lyu@gmail.com">Email</a></h1>
   </div>
</div>
