---
layout: default 
title: Hi! I'm Shing Lyu 
css: css/index.css
---

	<div class="row">
		<div class="large-8 columns">
         <div class="large-8 push-4 columns">
            <h2>呂  行  Shing Lyu</h2>
            <p> I am a graduate student in CS, intern at Intel, and software developer based in Taipei, Taiwan.</p>
         </div>
         <div class="large-4 pull-8 columns">
            <img id="head" src="img/head.png" alt="photo of myself"/>
         </div>
		</div>
		<div class="large-4 columns">
         {% for node in site.pages %}
             {% if node.url != page.url %}
             <form action="{{node.url}}">
                <button type="submit"> {{node.title}}→ </button>
             </form>
             {% endif %}
         {% endfor %}
      </div>
      <hr />
	</div>

	<div class="row">
		<div class="large-4 columns">
         <img class="icon" src="img/keyboard_48.png" alt=""/>
         <h3>Programming</h3>
         <ul> 
            <li>Favorite: Python, R</li>
            <li>Fluent: Matlab, C++ </li>
            <li>Know: Java, C# </li>
            <li>Learning: Haskell</li>
            <p><a href="skillset.html">more...</a></p>
         </ul>
      </div>
		<div class="large-4 columns">
         <img class="icon" src="img/disk_64.png" alt=""/>
         <h3>Music</h3>
         <p>A regular (classical) concert-goer. I like to combine technology and music, my research includes: Computer Expressive Performance and Automatic score-following. I also plays the Guitar and Ukulele. </p>
      </div>
		<div class="large-4 columns">
         <img class="icon" src="img/app_globe_64.png" alt=""/>
         <h3>Web Design</h3>
         <p>Still actively learning web design and UX.</p>
      </div>
   </div>

	<div class="row">
		<div class="large-4 columns">
         <img class="icon" src="img/money_48.png" alt=""/>
         <h3>Finance</h3>
         <ul> 
            <li>Senior Securities Specialist License (證券商高級業務員證照), Taiwan</li>
            <li>Quantitative Finance Program, National Taiwan University</li>
         </ul>
      </div>
   </div>

