---
layout: default 
title: Projects
---


<div class="row">
   <div class="large-12 columns">

      <h1>{{ page.title }}</h1>
      <p>Here are some projects I've created/co-created<p>

      {% for category in site.data.projects%}
      <div class="row">
         <div class="large-3 columns">
           <h4>{{category.title}}</h4>
         </div>
         <div class="large-9 columns">
         {% for project in category.projects%}
            <div class="row">
               <div class="small-9 columns">
                 <h5><a href="{{project.title_href}}" target="_blank">{{project.title}}</a></h5>
                 {% if project.source_url%}
                 [<a href="{{project.source_url}}" target="_blank">Source Code</a>]
                 {% endif %}
                 <p>{{project.description | markdownify}}
               </div>
               <div class="small-3 columns">
                {% if project.thumbnail_url%}
                <a class="th radius" href="{{project.thumbnail_url}}">
                     <img src="{{project.thumbnail_url}}">
                </a>
                {% endif %}
               </div>
            </div>
            <br>
         {% endfor %}
         </div>
      </div>
      <hr> <!-- =============================== -->
      {% endfor %}

   </div>
</div>

