#schedule{
   text-align:center;
   margin-left: auto;
   margin-right: auto;
   font-size:20px;
}


td {
  border:1px solid #03436a;
  width:15%;
}
.classno {
   width:5%;
}
tr {
  border:1px solid #03436a;
}
th {
  border:0;
  text-align:center;
}
