<div class="call_to_action">
  <p>Having questions or want to learn more?</p> 
  <p>Book a private mentoring session with me using the button below:</p>
  <a href="https://www.codementor.io/shinglyu" onclick="trackOutboundLink('https://www.codementor.io/shinglyu'); return false" id="book_btn">Book a session</a>
</div>
<style>
.call_to_action {
  text-align: center;
  font-style: italic;
  background: lightgrey;
  padding: 1em;
  border-radius: 10px;
}

#book_btn {
  display: block;
  font-style: normal;
  font-weight: bold;
  background: white;
  width: 10em;
  padding: 1em;
  margin: 1em auto;
  border: 2px solid black;
  border-radius: 5px;
}
</style>
<script>
  var trackOutboundLink = function(url) {
    ga('send', 'event', 'codementor', 'click', url, {
           'transport': 'beacon',
           'hitCallback': function(){document.location = url;}
    });
  }
</script> 
